{% extends 'base.html.twig' %}
{% block body %}
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col p-0">
                    <img src="http://placehold.it/1920x500" alt="">
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1>{{ title }}</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt magnam officiis praesentium rerum. Animi assumenda
                        blanditiis dignissimos eligendi illo iure mollitia, nemo officiis quibusdam rerum sit tempore! Ab amet assumenda at
                        consequatur corporis cum dignissimos, dolor facere incidunt ipsam itaque magni reiciendis reprehenderit sapiente
                        tempore! Assumenda culpa error itaque sed?</p>
                    <p>Adipisci amet cumque delectus dignissimos dolore esse explicabo
                        incidunt inventore iste, maxime modi molestiae molestias nisi pariatur quam quibusdam quod quos vero voluptas
                        voluptatibus! Ad asperiores aut corporis dolor impedit ipsum itaque praesentium quod totam voluptatum? Atque ea
                        earum incidunt inventore, reprehenderit similique suscipit voluptatem! Maiores perferendis quam quis quos.</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}