@import '~@fortawesome/fontawesome-free/css/all.css';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';

.logo {
    font-size: 3rem;
}

.text-shadow {
    text-shadow: 0px 0px 9px rgba(17,8,5,0.56);
}

.zindex-1000 {
    z-index: 1000;
}

p {
    font-size: 22px;
}

.badge {
    background-color: #dc3545;
}

.invalid-feedback, .form-group {
    margin-bottom: 1rem;
}